@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat";
}
#contacto, #inicio{
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
}
#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;
}
h1{
    color: #e20000;
}
p{
    color: #6a6a6a;
}
.btn{
    color: #370a6d;
    background-color: white;
    border: 0px;
    border-radius: 15px;
}
.btn:hover{
    color: white;
    background-color: #370a6d;
}
.btn-rojo{
    color: white;
    background-color: #ff4a49;
    border: 0px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}
.btn-rojo:hover{
    color: white;
    background-color: #370a6d;
}

.btn-whatsapp{
    position: fixed;
    right: 70px;
    bottom: 0px;
    background-color: #370a6d;
    color: white;
    font-size: 31px;
}
.link-rojo{
    color: #ff4a49;
    text-decoration: none;
}
#contacto footer, #inicio footer{
    color: white;
}
#contacto footer a, #inicio footer a{
    color: white;
}
#contacto footer .fa-github, #inicio footer .fa-github {
    font-size: 30px;
    color: white;
}
#contacto footer .fa-twitter, #inicio footer .fa-twitter {
    color: #ff4a48;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer{
    color: #ff4a49;
}
#proyectos footer a{
    color: #ff4a49;
}
#proyectos footer .fa-github {
    font-size: 30px;
    color: #ff4a49;
}
#proyectos footer .fa-twitter {
    color: #ff4a48;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.proyecto{
    background-color: white;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: orangered;
    padding: 16px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 130px;
}
#inicio img{
    height: 400px;
}
#inicio img:hover{
    height: 410px;
}
#inicio p{
    color: white;
    font-size: 17px;
    border: 1px white solid;
    border-radius: 15px;
    font-weight: 600;
}
.foto-perfil{
    border-radius: 650px;
    max-width: 75%;
    
}
#stack-tecnologico{
    background-color: #e20000;
}
#stack-tecnologico .tecnologia{
background-color: white;
border-radius: 5px;
text-align: center;
}
#stack-tecnologico .tecnologia i{
    color: #6a6a6a;
    font-size: 60px;
}
#stack-tecnologico h3{
    font-size: 14px;
    font-weight: 300;
    color: #6a6a6a;
}
#stack-tecnologico h2{
    color: white;
    font-size: 24px;
}
@media (max-width: 750px){
    /* para mobile*/
    #contacto, #inicio{
        background-image: url(../images/fondo-proyectos.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proyectos{
        background-size: contain;
        background-repeat: no-repeat;
    }
    #inicio p{
        color: #e20000;
        font-size: 17px;
        border: 1px #e20000 solid;
        
    }
}